---
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import Features from "@/partials/Features.astro";
import Hero from "@/partials/Hero.astro";
import Testimonials from "@/partials/Testimonials.astro";

export const prerender = true;

const title = "朝歌华文";
const meta_title = "朝歌华文";
const description =
  "朝歌华文，古诗词的数字桃源。" +
  "朝歌华文按诗集、朝代、诗人、诗词等方式检索，内容丰富，信息齐全。" +
  "朝歌华文按选集、主题、节日、节气、词牌、时令、地理等方式精选分类。" +
  "朝歌华文全站响应式布局，兼容移动端，支持暗黑模式，响应速度快。";
// console.log('index meta:', title, meta_title, description);
---

<Base title={title} meta_title={meta_title} description={description}>
  <!-- Hero Section -->
  <section id="index-section" class="section py-14">
    <div class="container">
      <Hero />
    </div>
  </section>

  <!-- Features Section -->
  <!-- <section id="features-section" class="section py-28">
    <div class="container">
      <Features />
    </div>
  </section> -->

  <!-- Testimonials Section -->
  <section id="testimonials-section" class="section py-28">
    <div class="container">
      <Testimonials />
    </div>
  </section>

  <div class="mb-5 flex flex-col items-center transform hover:scale-105 transition-transform duration-300">
                  <div class="bg-white p-3 sm:p-4 rounded-lg shadow-lg border border-purple-200 bg-gray-100 border-2 border-dashed rounded-xl w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 flex items-center justify-center mb-2 sm:mb-3">
                    <div class="animate-pulse">
                      <img class='w-full h-full object-cover' src="/public/images/qrcode.jpg" alt="二维码" />
                    </div>
                  </div>
                  <p class="text-xs sm:text-sm text-purple-700 font-medium">微信扫码关注 "山软华文"</p>
                </div>
  <!-- CallToAction Section -->
  <!-- <section id="cta-section" class="section py-14 mb-14">
    <div class="container">
      <CallToAction />
    </div>
  </section> -->
</Base>
